@model Post
<h1>Add a Post!</h1>
<form asp-action="Create" asp-controller="Post" method="post">
    <div class="form-group">
        <span asp-validation-for="Topic"></span>
        <label asp-for="Topic"></label>
        <input class="form-control" asp-for="Topic">
    </div>
    <div class="form-group">
        <span asp-validation-for="Content"></span>
        <label asp-for="Content"></label>
        <textarea class="form-control" asp-for="Content"></textarea>
    </div>
    <div class="form-group">
        <span asp-validation-for="UserId"></span>
        <label asp-for="UserId"></label>
        <select asp-for="UserId">
        @foreach(var user in ViewBag.AllUsers)
        {
            <option value="@user.UserId">@user.FirstName @user.LastName</option>
        }
        </select>
    </div>
    <button>Add new Post!</button>
</form>